.container {
    display: flex;
    border: 2px;
    gap: 1rem;
    margin: .8rem;
}

aside {
    border: solid black 2px;
    background-color: lightgray;
    height: 95vh;
    flex-basis: 25%;
}

main {
    border: solid black 2px;
    background-color: lightgray;
    height: 95vh;
    flex: 1;
}